docs/

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

.DS_Store

.idea/
.vscode/
*.iml
*.swp

# Python / Virtual Envs
__pycache__/
*.py[cod]
venv/
.venv/

# ML weights
.models/
*.onnx
output/
